<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta viewport content="width=device-width, initial-scale=1.0">
	<title>Coinise</title>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/resources/js/vendor/lodash.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->


</head>
<body>

	<form class="form-main" role="form" method="post" action="/signin">

		<div class="input-group">
			<input type="text" class="form-control" spellcheck="false" value=""  name="email" id="email" placeholder="Email" autofocus tabindex="1">
		</div>

		<div class="input-group">
			<input type="password" class="form-control" spellcheck="false" id="password" name="password" placeholder="Password" tabindex="2">
		</div>

		<button class="btn btn-lg btn-primary btn-block" type="submit" tabindex="3">Sign in</button>

	</form>


</body>
</html>
